.a {
	color: #000;
}

.a:hover {
	color: #000;
	text-decoration: none;
}

.header_text {
	width: 100%;
	font-size: 1.3rem;
	color: orange;
	padding: 0.313rem 17px;
}

.header_text_wrapper {
}

.links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.profile_sidebar {
	position: sticky;
	top: 10px;
	right: 0;
	width: 15vw;
	height: 40vh;
	margin-top: 2rem;
	font-weight: bolder;
	min-width: 135px;
}

.profile_sidebar li {
	padding: 0.9375em 1.25em 0.9375em;
	margin: 0;
	font-size: 1rem;
}
